body{
  background-color: skyblue ;
}
.course{
  height: 100vh;
  display: grid;
  grid-template-areas:"side head"
                      "side replace"
                      "side foot" ;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  grid-template-columns: 0.1fr 1fr;
}
main{
  grid-area: replace;
}
ul{
  display: flex;
  text-decoration: none;
  
}
a{
  text-decoration: none;
  color:black;
}
li{
  list-style: none;
  padding: 20px;
  text-decoration: none;
}
.header {
  background-color: chocolate;
  grid-area: head;
}
.side{
  background-color:rgb(232, 219, 40);
  grid-area: side;
}
.About{
  background-color: darkkhaki;
}
.Home{
  background-color: cornsilk;
}
.Contact{
  background-color: greenyellow;
}
.content{
  background-color: brown;
  grid-area: replace;
}
.footer{
  background-color: darksalmon;
  grid-area: foot
}